{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <!-- Scripts -->
    <script src="{% static 'js/404.js' %}"></script>
</head>
<body>
    <div class="circle move" data-value="-1"></div>
    <div class="circle move" data-value="-1"></div>
    <div class="circle move" data-value="-1"></div>
    <div class="circle move" data-value="-1"></div>


    <div class="container">
        <p>Esta Pagina No Existe</p>
        <h1>404</h1>
    </div>
</body>
</html>