
{% load static %}
<!DOCTYPE html>
<html>

<div style="width: 100vh; height: 100vh; background: #0099;">
    <div style="width: 385px; background-color: #fff; border-radius: 15px; border: 2px solid black;">
        <div style="padding: 24px;">
            <a href="#">
                <h5 style="margin-bottom: 8px; font-size:xx-large;"> <b>Copetran 2023</b> </h5>
            </a>
            <p style="margin-bottom: 8px; color: #000;">Al parecer alguien a querido registrarse en nuestra pagina con tu corre, si fuiste tu por favor ve a esta direccion para verificar tu cuenta.</p>
            <a href="{{ activate_url }}" style="display: flex; width: 100px; height: 40px; background-color: #0057d0; border-radius: 8px; align-items: center; justify-content: center; color: #fff;">
               <b>Verificar</b>
            </a>
        </div>
    </div>
</div>
</div>
