{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% load static %}

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/COPETRAN.png' %}">
</head>

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="h-1/2 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="m-4">
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{% trans "Password Reset" %}</h5>
                    </a>

                    {% if user.is_authenticated %}
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ya has iniciado sesion!</p>
                    {% else %}
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ingresa tu correo para recibir un mensaje y poder reestablecer tu password</p>
                    {% endif %}

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">Enviar</button>
                </form>
                
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
