{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load tailwind_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="flex items-center justify-center">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-4/6 shadow-2xl">
        <a href="#">
            <img class="rounded-t-lg" src="{% static 'images/COPETRAN.png' %}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TODO SALIO BIEN</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Tu correo fue enviado hace algunos segundos</p>
        </div>
    </div>
</div>
{% endblock %}
