{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% load static %}

{% block content %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <div class="flex justify-center items-center h-screen">
        {% if form %}
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">ACTUALIZA TU CONTRASEÑA</h5>
                </a>
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full h-10">CAMBIAR</button>
                </form>
            </div>  
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
        {% endif %}
    {% endif %}


{% endblock %}
