{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl  dark:border-gray-700 dark:bg-gray-800">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{% static 'images/COPETRAN.png' %}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">ACTUALIZACION</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Tu contrase;a fue actualizada correctamente.</p>
            <a class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full mt-2" href="{% url 'account_login' %}">VOLVER</a>
        </div>
    </div>
</div>

{% endblock %}
