{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load tailwind_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="flex items-center justify-center">
    <div class="h-auto max-w-sm bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 shadow-2xl">
        <a href="#">
            <img class="rounded-t-lg" src="{% static 'images/COPETRAN.png' %}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TODO SALIO BIEN</h5>
            </a>
            <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">El correo fue enviado hace algunos segundos a ***********@*******, <b>porfavor revisa tu correo</b> para verificar que esto sea cierto</p>

            <a href="{% url 'account_login' %}" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full h-10">Volver Al Login</a>
        </div>
    </div>
</div>
{% endblock %}
