{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<body>
{% block content %}

<div>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'home' %}" class="m-4 p-6 rounded-lg bg-white dark:bg-gray-900 shadow-lg">
        {% csrf_token %}
        <div class=" text-lg font-semibold text-left text-gray-900 dark:text-white">
           AGREGAR CLIENTE
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400 pb-4">Aqui se agregan clientes sin crearles una cuenta</p>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                {{ form.nombre }}
            </div>
            <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
                {{ form.apellido }}
            </div>
            <div>
                <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Nacimiento</label>
                
                <div class="relative max-w-sm">
                    {{ form.fecha_nacimiento }}
                </div>
                <script>
                    flatpickr("#datepickerForm", {
                        dateFormat: "Y-m-d",
                    });
                </script>
            </div>  
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de telefono</label>
                {{ form.telefono }}
            </div>
            <div>
                <label for="website" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de documento</label>
                {{ form.tipo_documento }}
            </div>
            <div>
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero documento</label>
                {{ form.documento }}
            </div>
        </div>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email de contacto</label>
            {{ form.email }}
        </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subir</button>
    </form>
    {% endif %}
</div>  

<div>
    {% include 'components/table_personas.html' %}
</div>

{% endblock content %}  
</body>