{% extends 'base.html' %}
{% load crispy_forms_tags %}
<body>
{% block content %}

<div class="hidden md:block relative overflow-x-auto shadow-lg sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-900">
            PERSONAS AGREGADAS
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Aqui estan todas las personas registradas en la pagina</p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Nacimineto
                </th>
                <th scope="col" class="px-6 py-3">
                    Tipo Documento
                </th>
                <th scope="col" class="px-6 py-3">
                    Documento
                </th>
                <th scope="col" class="px-6 py-3">
                    Creado Por
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in personas %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{user.email}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.apellido}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.fecha_nacimiento}}
                    </td>
                    <td class="px-6 py-4 ">
                        {{user.tipo_documento}}
                    </td>
                    <td class="px-6 py-4 ">
                        {{user.documento}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        {{user.author}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'home' %}" class="m-4 p-6 rounded-lg bg-white dark:bg-gray-900 shadow-lg">
        {% csrf_token %}
        <div class=" text-lg font-semibold text-left text-gray-900 dark:text-white">
           AGREGAR CLIENTE
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400 pb-4">Aqui se agregan clientes sin crearles una cuenta</p>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                {{ form.nombre }}
            </div>
            <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
                {{ form.apellido }}
            </div>
            <div>
                <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Nacimiento</label>
                
                <div class="relative max-w-sm">
                    {{ form.fecha_nacimiento }}
                </div>
                <script>
                    flatpickr("#datepickerForm", {
                        dateFormat: "Y-m-d",
                    });
                </script>
            </div>  
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de telefono</label>
                {{ form.telefono }}
            </div>
            <div>
                <label for="website" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de documento</label>
                {{ form.tipo_documento }}
            </div>
            <div>
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero documento</label>
                {{ form.documento }}
            </div>
        </div>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email de contacto</label>
            {{ form.email }}
        </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subir</button>
    </form>
    {% endif %}
</div>  

{% endblock content %}  
</body>